<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Upload PDF or Images</title>
</head>
<body>
  <h1>Upload PDF or Images</h1>
  <form action="{% url 'upload' %}" 
        method="POST" 
        enctype="multipart/form-data">
    <label for="files">Choose PDF or images to upload:</label>
    <br><br>
    {% csrf_token %}
    <input type="file" id="files" name="files" accept="image/*,application/pdf" multiple required />
    <br><br>
    <button type="submit">Upload Files</button>
  </form>
</body>
</html>
